.row-marketing {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 45px;
  padding: 20px;
}

.card-marketing {
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 28%;
  min-width: 250px;
  height: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  text-align: center;
  background-image: url("images/devopsdays.webp");
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  position: relative;
  transition: filter 0.3s ease-in-out;
  filter: grayscale(100%);
}

.card__heading {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%); /* Adjust for centering */
  font-size: 1.6rem;
  font-weight: bold;
  color: black;
  margin: 0;
}

.card__details {
  margin-top: 10px;
  font-size: 1rem;
  color: #666;
}

.card-marketing:hover {
  transform: translateY(-1rem);
  cursor: pointer;
  filter: grayscale(0%);
}

.card-marketing:hover .card__heading {
  color: #0175b2;
}

.ux-header {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 1.5rem;
}

.ux-intro {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 4rem;
}
