.site-header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

.site-header nav {
  background-color: #ffffff;
  padding: 0.5rem;
  margin-left: auto;
}

.site-header nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.site-header nav li {
  display: inline;
  margin-left: 0.5rem;
  font-family: Poppins, sans-serif;
  font-size: 30px;
  font-style: bold;
}

.site-header a {
  color: #087f8c;
  text-decoration: none;
}

.site-header a:hover {
  color: purple;
}

h1 {
  font-family: Poppins, sans-serif;
  font-size: 90px;
  margin: 20px;
}

hr {
  margin-bottom: 40px;
}

.header-text {
  text-align: left;
  font-family: Poppins, sans-serif;
  margin: 0;
}

.nav-left {
  font-family: Poppins, sans-serif;
  margin: 10%;
  width: 200px;
  line-height: 0.2;
  font-weight: bold;
}

main {
  margin: 20px;
}

footer {
  display: flex;
  justify-content: flex-end;
}
