.site-header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.site-header nav {
  background-color: white;
  padding: 0.5rem;
}

.site-header nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.site-header nav li {
  display: inline;
  margin-left: 0.75rem;
}

.site-header a {
  color: #087f8c;
  text-decoration: none;
}

h1 {
  font-family: Poppins, sans-serif;
  font-size: large;
}
