.introduction {
  margin: 0px 20px 30px 20px;
}

.row-marketing {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 45px;
  padding: 20px;
}

.card-marketing {
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 28%;
  min-width: 250px;
  height: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  text-align: center;
  background-image: url("../images/devopsdays.webp");
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  position: relative;
  transition: filter 0.3s ease-in-out;
  filter: grayscale(100%);
}

.card__heading {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%); /* Adjust for centering */
  font-size: 1.6rem;
  font-weight: bold;
  color: black;
  margin: 0;
}

.card__details {
  margin-top: 10px;
  font-size: 1rem;
  color: #666;
}

.card-marketing:hover {
  transform: translateY(-1rem);
  cursor: pointer;
  filter: grayscale(0%);
}

.card-marketing:hover .card__heading {
  color: #0175b2;
}

.ux-header {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 1.5rem;
}

.ux-intro {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 4rem;
}

.calendar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  max-width: 100%;
  padding: 10px;
  overflow: hidden;
}

/* developer portfolio */

.grid-item a {
  display: block; /* Make the link cover the entire grid item */
  text-decoration: none; /* Remove underline from the link */
  color: black; /* Inherit the text color from the parent */
}

.grid-item a:hover {
  text-decoration: none;
  color: inherit;
}

.github-container {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  margin: 2rem auto;
  flex-wrap: wrap;
  max-width: 100%;
  box-sizing: border-box;
}

.github-stats,
.most-used-languages,
.github-streak {
  flex: 1; /* Allow both sections to take equal space */
  min-width: 300px;
  max-width: 50%;
  display: flex;
  justify-content: center;
}

.github-stats img,
.most-used-languages img,
.github-streak img {
  max-width: 100%; /* Ensure images are responsive */
  height: auto;
}

.social-media-image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  padding: 20px;
}

.social-media-image-grid img {
  width: 100%; /* Make images responsive */
  height: 150px; /* Set a fixed height for uniformity */
  object-fit: cover; /* Ensure images are cropped proportionally */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.social-media-image-grid img:hover {
  transform: scale(1.05); /* Slightly enlarge the image on hover */
}

/* Button for DevOpsDays Linked invitation */
.devopsdays-linkedin-container {
  text-align: center;
  margin: 20px 0;
}

.devopsdays-linkedin:hover {
  background-color: #065a63;
  transform: scale(1.05);
}

/* responsive design mocks */

.responsive-intro {
  text-align: center;
}

.mockup-gallery {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap on smaller screens */
  justify-content: center; /* Center the gallery items */
  gap: 20px; /* Add spacing between items */
  padding: 20px;
}

.mockup-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 300px; /* Limit the width of each item */
}

.mockup-image {
  width: 100%; /* Make the image responsive */
  max-width: 300px; /* Limit the maximum width */
  height: auto; /* Maintain aspect ratio */
  border-radius: 10px; /* Optional: Add rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.mockup-image:hover {
  transform: scale(1.05); /* Slight zoom on hover */
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); /* Enhance shadow on hover */
}

.mockup-item p {
  margin-top: 10px;
  font-size: 14px;
  color: #333;
}

a {
  color: darkblue;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #555; /* Optional: Add a subtle hover effect */
  text-decoration: underline; /* Optional: Add underline on hover */
}

@media (max-width: 768px) {
  .github-container {
    flex-direction: column;
    gap: 1rem;
  }

  .github-stats,
  .most-used-languages {
    max-width: 100%;
  }
}
