.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}
.site-header nav {
  padding: 0.5rem;
  margin-left: auto;
}
.site-header a {
  color: #087f8c;
  text-decoration: none;
}
.header-text {
  display: block;
  color: #000000;
  line-height: 3;
}
.nav-left {
  font-family: Poppins, sans-serif;
  margin: 10%;
  width: 200px;
  line-height: 0.5;
  font-weight: bold;
}
h1 {
  font-family: Poppins, sans-serif;
  font-size: 90px;
  margin: 20px;
  margin-bottom: 20px;
  margin-top: 100px;
  align-items: center;
  text-align: center;
  animation: slideIn 1s ease-in-out;
}
h2 {
  font-family: Poppins, sans-serif;
  font-size: 40px;
  margin-top: 100px;
  margin-left: 20px;
  align-items: left;
  text-align: left;
  animation: slideDown 1s ease-in-out;
}
.h2-body {
  font-family: Poppins, sans-serif;
  font-size: 40px;
  margin-top: 40px;
  margin-left: 20px;
  margin-bottom: 40px;
  align-items: left;
  text-align: left;
  animation: slideDown 1s ease-in-out;
}
hr {
  margin-bottom: 10px;
}

p {
  font-size: 17px;
}
.introduction {
  margin: 0px 20px 30px 20px;
  line-height: 1.5;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s;
}
.overlay-content {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 25%;
  width: 100%;
  margin-top: 30px; /* 30px top margin
to avoid conflict with the close button on smaller screens */
}
.overlay-content a {
  font-size: 60px;
  color: #f1f1f1;
  text-decoration: none;
  text-align: right;
  margin-right: 45px;
}
.overlay-content a:hover,
.overlay-content a:focus {
  color: #f1f1f1;
} /* Position the close button (top right corner) */
.overlay .close-btn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #f1f1f1;
  text-decoration: none;
}
.menu-btn {
  font-size: 30px;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid black;
  border-radius: 30px;
  font-family: Poppins, sans-serif;
  font-weight: bold;
  margin-left: 20px;
  text-decoration: none;
  padding: 10px 20px;
  transition: transform 0.2s ease, box-shadow 0.4s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.menu-btn:hover {
  color: black;
}
.menu-btn:active {
  transform: translateY(-5px); /* Raise the button when clicked */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow for a raised effect */
}
.back-btn {
  background-color: white;
  color: black;
  border: 2px solid black;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 12px;
  cursor: pointer;
  text-decoration: none;
}
.back-btn:hover {
  background-color: black;
  color: white;
}

.grid-container {
  margin-top: 5rem;
  margin-bottom: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 20px; /*
Space between grid items */
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

.grid-item {
  position: relative;
  overflow: hidden;
  background-color: white;
  text-align: left;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.9s;
  perspective: 1000px;
  -moz-perspective: 1000px;
  height: 360px;
}

.grid-item__side--front,
.grid-item__side--back {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.6s ease;
  padding: 30px 10px;
}

.grid-item__side--back ul {
  list-style-type: disc;
  padding-left: 20px;
  margin: 10px 0;
}

.grid-item__side--back li {
  font-family: Poppins, sans-serif;
  font-size: 14px;
  color: white;
  line-height: 1.5;
  margin-bottom: 5px;
}

.grid-item__side--front {
  background: linear-gradient(to bottom, #f9f9f9, #eaeaea);
  color: black;
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.grid-item__side--back {
  background-color: #2c2c2c;
  color: white;
  transform: rotateY(180deg);
  box-sizing: border-box;
}

.grid-item:hover .grid-item__side--front {
  transform: rotateY(180deg);
}

.grid-item:hover .grid-item__side--back {
  transform: rotateY(0);
}

*/ .grid-item-header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid-item-header svg {
  margin-right: 10px; /* Space between the icon and the
header */
}
.grid-item h3 {
  font-weight: 600; /* Semibold font */
  margin: 0;
  font-size: 24px;
}
.grid-item-body {
  font-weight: 300;
  color: dark-grey;
  font-size: 14px;
  margin: 10px 5px 0px 5px;
}

.learn-more {
  position: absolute;
  font-size: 14px;
  font-weight: bold;
  bottom: 30px;
  right: 30px;
  color: darkblue; /* Highlight the text */
  cursor: pointer; /* Change cursor to pointer */
  text-decoration: none;
  transition: color 0.3s ease;
}

.see-more a {
  position: absolute;
  font-size: 14px;
  font-weight: bold;
  bottom: 30px;
  right: 30px;
  color: white; /* Highlight the text */
  cursor: pointer; /* Change cursor to pointer */
  text-decoration: underline;
  transition: color 0.3s ease;
}

.social-media-container {
  display: flex;
  padding: 20px;
}
#contact-form input,
#contact-form textarea {
  font-family: Poppins, sans-serif;
  font-size: 14px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

/* Footer */

.footer-container {
  background-color: #f9f9f9;
  padding: 20px 40px;
  box-sizing: border-box;
}

.footer-content {
  font-family: Poppins, serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  max-width: 1200px;
  padding: 40px;
  margin: 0 auto;
  width: 85%;
}

.footer-section {
  flex: 1 1 25%; /* Each section takes up 30% of the width */
  min-width: 200px;
  display: flex;
  flex-direction: column;
}

.footer-section h4 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.social-media-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-media-icons {
  display: flex;
  gap: 15px;
}

.social-media-icons img {
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease;
}

.social-media-icons img:hover {
  transform: scale(1.1); /* Slightly enlarge icons on hover */
}

.sitemap {
  text-align: center;
}

.sitemap ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 300px;
}

.sitemap ul li {
  flex: 1 1 45%; /* Two columns on larger screens */
}

.sitemap ul li a {
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease;
}

.sitemap ul li a:hover {
  color: #065a63;
}

.copyright {
  text-align: center;
}

.footer-contact-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  text-align: center;
}

.footer-contact-me a {
  color: #333;
  text-decoration: none;
  font-size: 14px;
}

.footer-contact-me a:hover {
  color: #065a63;
}

#dark-mode-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px auto;
  background: none;
  border: none;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .footer-content {
    flex-direction: column;
    flex-wrap: wrap; /* Allow wrapping for medium screens */
    justify-content: center; /* Center-align sections */
    gap: 10px; /* Add spacing between sections */
  }

  .footer-section {
    flex: 1 1 45%; /* Two sections per row */
  }
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column; /* Stack sections vertically */
    align-items: center;
    text-align: center;
  }

  .footer-section {
    flex: 1 1 100%; /* Each section takes full width */
    align-items: center;
  }

  .sitemap ul li {
    flex: 1 1 100%; /* Stack items vertically */
  }

  #dark-mode-toggle {
    margin-top: 10px;
  }
}

@media (max-width: 600px) {
  .sitemap ul li {
    flex: 1 1 100%; /* Each item takes up the full width on smaller screens */
  }
}

@media (max-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr; /* Single column on small screens */
  }
} /* When the
height of the screen is less than 450 pixels, change the font-size of the links
and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay-content {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
@keyframes slideIn {
  from {
    transform: translateX(-10%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideDown {
  from {
    transform: translateY(-20%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
